@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:100px;">
    <h1> Projekt GuildRPG </h1>
    <a asp-controller="Mercenaries" asp-action="Index" class="btn btn-primary"> Najemnicy</a>
    <a asp-controller="Quests" asp-action="Index" class="btn btn-primary"> Questy </a>
    <a asp-controller="Monsters" asp-action="Index" class="btn btn-primary"> Potwory</a>
    <a asp-controller="Guild" asp-action="Index" class="btn btn-primary"> Twoja Gildia</a>
    
</div>
